<div id="bg">


<div class="main">
  <h1>Sea Side Town Information</h1>
  <h2>Program is a service that you can post picture and information.</h2>
</div>
    <p style="display: inline;">
      <table class="menu">
      <tr><td><span>Ibaraki South area</span></td></tr>
      <tr><td>
      <%= link_to topics_path do %>
      <%= image_tag "is.png"%>
      <% end %>
      </td></tr>
      </table>
      <table class="menu">
      <tr><td><span>Chiba North area</span></td></tr>
      <tr><td>
      <%= link_to topic02s_path do %>
      <%= image_tag "cn.png"%>
      <% end %>
      </td></tr>
      </table>
      <table class="menu">
      <tr><td><span>Chiba South area</span></td></tr>
      <tr><td>
      <%= link_to topic03s_path do %>
      <%= image_tag "cs.png"%>
      <% end %>
      </td></tr>
      </table>
      <table class="menu">
      <tr><td><span>Shonan area</span></td></tr>
      <tr><td>
      <%= link_to topic04s_path do %>
      <%= image_tag "s.png"%>
      <% end %>
      </td></tr>
      </table>

     </p>
</div>
